[project]
	description = Redmi 4 Prime (markw)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex (brigudav)
[access "refs/for/refs/*"]
	read = group user/Alex (brigudav)
	push = group user/Alex (brigudav)
	label-Code-Review = -2..+2 group user/Alex (brigudav)
	label-Verified = -1..+1 group user/Alex (brigudav)
	rebase = group user/Alex (brigudav)
	removeReviewer = group user/Alex (brigudav)
	submit = group user/Alex (brigudav)
[access "refs/heads/*"]
	read = group user/Alex (brigudav)
	create = group user/Alex (brigudav)
	push = +force group user/Alex (brigudav)
	pushMerge = group user/Alex (brigudav)
[access "refs/tags/*"]
	push = group user/Alex (brigudav)
	push = +force group user/Alex (brigudav)
